<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/auth/slack">Ingresa con Slack</a><br>
<a href="/auth/google">Ingresa con Google</a>
{{#unless user}}
  Home page
  <div>
    <a href="'/logout'">Vamonos!!</a>
  </div>
{{/unless}}
